/* Importar Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


/* CSS Variables */

:root {
    --hFont: 'Poppins', sans-serif;
    --pFont: 'DM Sans', sans-serif;
    --themeColor: #5ABFA3;
    --bgColor: #1A1E26;
    --Color: #fff;
}


/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

/* Convert rem to px */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
 }
 
 *, *:before, *:after {
    box-sizing: inherit;
 }

 img {
    max-width: 100%;
    display: block;
}
 
/* CSS Inicio */
.inicio {
    background-color: var(--bgColor);
    position: relative;
}

.inicio::before {
    content: '';
    width: 20%;
    height: 100%;
    background-color: var(--themeColor);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 2rem;
}

.contenedor {
    padding: 5rem 5%;
}

.inicio .inicio-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.inicio .inicio-col .inicio-img img{
    background-color: black;
    border-radius: 2rem;
    filter: grayscale(100%);
    transition: 1s;
    width: 60rem;
}

.inicio .inicio-col .inicio-img img:hover{
    filter: grayscale(0%);
}

.inicio .inicio-col .inicio-info {
    padding-left: 1rem;
}

.inicio .inicio-col .inicio-info h1 {
    color: var(--Color);
    font-family: var(--hFont);
    font-size: 5rem;
    font-weight: 600;
}

.inicio .inicio-col .inicio-info h1 span{
    color: var(--themeColor);
    font-weight: 700;
}

.inicio .inicio-col .inicio-info p{
    color: var(--Color);
    font-family: var(--pFont);
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    margin-top: 2rem;
    line-height: 1.5;
}

.inicio .inicio-col .inicio-info a{
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: var(--themeColor);
    font-family: var(--pFont);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 2px solid var(--themeColor);
    border-radius: 2rem;
    position: relative;
    transition: 0.5s;
}

.inicio .inicio-col .inicio-info a:hover{
    color: var(--bgColor);
    background-color: var(--themeColor);
}

.inicio .inicio-col .inicio-menu .menu-opcion {
    margin: 4rem 0;
    position: relative;
}

.inicio .inicio-col .inicio-menu .menu-opcion span {
    background-color: rgb(148, 148, 148);
    color: var(--Color);
    font-family: var(--pFont);
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.5rem 0;
    width: 10rem;
    text-align: center;
    position: absolute;
    top: -2rem;
    left: -10rem;
    border-radius: 2rem;
    opacity: 0;
    transition: 0.5s;
}

.inicio .inicio-col .inicio-menu .menu-opcion:hover span {
    opacity: 1;
}

.inicio .inicio-col .inicio-menu .menu-opcion a {
    display: inline-block;
    text-decoration: none;
    color: var(--Color);
    font-family: var(--pFont);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 2px solid var(--themeColor);
    border-radius: 2rem;
    position: relative;
    transition: 1s;
}

.inicio .inicio-col .inicio-menu .menu-opcion a:hover {
    color: var(--bgColor);
    background-color: var(--themeColor);
}


.inicio .inicio-col .inicio-menu .menu-opcion .active{
    color: var(--bgColor);
    background-color: var(--themeColor);
}

/* CSS Movil Inicio*/

@media (max-width: 985px) 
{
    .inicio .inicio-col .inicio-menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.678);
        margin: 0;
    }

    .inicio .inicio-col .inicio-menu .menu-opcion {
        margin: 0.5rem;
        position: relative;
    }

    .inicio .inicio-col .inicio-menu .menu-opcion span {
        padding: 1.5rem 0;
        width: 10rem;
        top: -3rem;
        left: -10rem;
    }

}

@media (max-width: 768px) 
{
    .inicio::before {
        width: 0%;
    }

    .inicio .contenedor {
        padding: 5rem 4%;
    }

    .inicio .inicio-col {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .inicio .inicio-col .inicio-info {
        text-align: center;
        padding: 0;
    }

    .inicio .inicio-col .inicio-info h1 {
        font-size: 4rem;
    }

    .inicio .inicio-col .inicio-info p {
        font-size: 1.6rem;
    }

    .inicio .inicio-col .inicio-info img {
        background-color: black;
    }


}

/* CSS Sobre mi*/

.sobre-mi{
    background-color: var(--bgColor);
    padding: 4rem 1%;
    position: relative;
}


.sobre-mi::after {
    content: '';
    width: 30%;
    height: 1px;
    background-color: lightslategray;
    position: absolute;
    top: 0;
    left: 35%;
}

.sobre-mi h2{
    color: var(--Color);
    font-family: var(--hFont);
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    text-shadow: 0 0 15px var(--themeColor);
    text-transform: uppercase;
}


.sobre-mi h2 span{
    color: var(--themeColor);
    font-weight: 700;
}

.sobre-mi .sobre-mi-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 2rem;
}

.sobre-mi .sobre-mi-col .sobre-mi-iz {
    flex-basis: 50%;
}

.sobre-mi .sobre-mi-col .sobre-mi-iz h3{
    font-family: var(--hFont);
    color: var(--Color);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.sobre-mi .sobre-mi-col .sobre-mi-iz p{
    font-family: var(--pFont);
    color: var(--Color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    text-align: justify;
}

.sobre-mi .sobre-mi-col .sobre-mi-iz a{
    display: inline-block;
    text-decoration: none;
    color: var(--themeColor);
    font-family: var(--pFont);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 2px solid var(--themeColor);
    border-radius: 2rem;
    position: relative;
    transition: 0.5s;
}

.sobre-mi .sobre-mi-col .sobre-mi-iz a:hover{
    color: var(--bgColor);
    background-color: var(--themeColor);
}

.sobre-mi .sobre-mi-col .sobre-mi-dere{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.sobre-mi .sobre-mi-col .sobre-mi-dere .sobre-mi-box{
    border: 1px solid var(--themeColor);
    border-radius: 2rem;
    padding: 2rem;
    height: 15rem;
    transition: 0.5s;
}

.sobre-mi .sobre-mi-col .sobre-mi-dere .sobre-mi-box:hover{
    border: 1px solid var(--themeColor);
    translate: translateY(-10px);
    box-shadow: 0 0 50px var(--themeColor);
}

.sobre-mi .sobre-mi-col .sobre-mi-dere .sobre-mi-box h3{
    font-family: var(--hFont);
    color: var(--themeColor);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    text-align: center;
}

.sobre-mi .sobre-mi-col .sobre-mi-dere .sobre-mi-box p{
    font-family: var(--pFont);
    color: var(--Color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    text-align: center;
}

/* CSS Movil Sobre mi*/	

@media (max-width: 985px) 
{
    .sobre-mi .sobre-mi-col{
        gap: 4rem;
        flex-direction: column;
    }

    .sobre-mi .sobre-mi-col .sobre-mi-dere{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem;
        width: 100%;
    }

}

@media (max-width: 500px) 
{
    .sobre-mi .sobre-mi-col .sobre-mi-dere{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

}

/* CSS Habilidades */

.habilidad{
    background-color: var(--bgColor);
    padding: 4rem 1%;
    position: relative;
}

.habilidad::after {
    content: '';
    width: 30%;
    height: 1px;
    background-color: lightslategray;
    position: absolute;
    top: 0;
    left: 35%;
}

.habilidad h2{
    color: var(--Color);
    font-family: var(--hFont);
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    text-shadow: 0 0 15px var(--themeColor);
    text-transform: uppercase;
}

.habilidad h2 span{
    color: var(--themeColor);
    font-weight: 700;
}

.habilidad .habilidad-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 4rem;
}

.habilidad .habilidad-col .habilidad-item{
    border: 1px solid var(--Color);
    border-radius: 2rem;
    padding: 2rem;
    height: 15rem;
    transition: 0.5s;
}

.habilidad .habilidad-col .habilidad-item:hover{
    translate: translateY(-10px);
    box-shadow: 0 0 50px var(--Color);
}

.habilidad .habilidad-col .habilidad-item .habilidad-nombre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habilidad .habilidad-col .habilidad-item .habilidad-nombre h3{
    font-family: var(--hFont);
    color: var(--Color);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-style: italic;
}

.habilidad .habilidad-col .habilidad-item .habilidad-nombre p{
    font-family: var(--hFont);
    color: var(--Color);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-style: italic;
}

.habilidad .habilidad-col .habilidad-item .habilidad-barra-ext {
    background-color: var(--Color);
    height: 1rem;
    position: relative;
}

.habilidad .habilidad-col .habilidad-item .habilidad-barra-ext .habilidad-barra-int{
    background-color: var(--themeColor);
    height: 1rem;
}



.porcentaje10{
    width: 10%;
}

.porcentaje20{
    width: 20%;
}

.porcentaje30{
    width: 30%;
}

.porcentaje40{
    width: 40%;
}

.porcentaje50{
    width: 50%;
}

.porcentaje60{
    width: 60%;
}

.porcentaje70{
    width: 70%;
}

.porcentaje80{
    width: 80%;
}

.porcentaje90{
    width: 90%;
}

.porcentaje100{
    width: 100%;
}


/* CSS Movil Habilidades */

@media (max-width: 985px) 
{
    .habilidad .habilidad-col{
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

}

@media (max-width: 500px) 
{
    .habilidad .habilidad-col{
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }

}

/* CSS Proyectos */

.portafolio{
    background-color: var(--bgColor);
    padding: 4rem 1%;
    position: relative;
}

.portafolio::after {
    content: '';
    width: 30%;
    height: 1px;
    background-color: lightslategray;
    position: absolute;
    top: 0;
    left: 35%;
}

.portafolio h2{
    color: var(--Color);
    font-family: var(--hFont);
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    text-shadow: 0 0 15px var(--themeColor);
    text-transform: uppercase;
}

.portafolio h2 span{
    color: var(--themeColor);
    font-weight: 700;
}

.portafolio p{
    color: var(--Color);
    font-family: var(--pFont);
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    margin-top: 2rem;
    line-height: 1.5;
    text-align: center;
}

.portafolio .portafolio-col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 4rem;
    align-content: center;
}

.portafolio .portafolio-col .portafolio-item{
    position: relative;
    border-radius: 2rem;
}

.portafolio .portafolio-col .portafolio-item .portafolio-img-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2rem;
}

.portafolio .portafolio-col .portafolio-item .portafolio-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.portafolio .portafolio-col .portafolio-item .portafolio-info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}


.portafolio .portafolio-col .portafolio-item:hover .portafolio-info-box{
    opacity: 1;
    transform: scale(1);
}

.portafolio .portafolio-col .portafolio-item .portafolio-info-box h3{
    font-family: var(--hFont);
    color: var(--Color);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.portafolio .portafolio-col .portafolio-item .portafolio-info-box a{
    display: inline-block;
    text-decoration: none;
    color: var(--Color);
    font-family: var(--pFont);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 2px solid var(--Color);
    border-radius: 2rem;
    position: relative;
    transition: 0.5s;
}

/* CSS Movil Proyectos */

@media (max-width: 985px) 
{
    .portafolio .portafolio-col{
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

}

@media (max-width: 500px) 
{
    .portafolio .portafolio-col{
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }

}